<%= "#{@current_turn}, please make your selection" %>
  <form action='/' method="post">
    <% GAME.possible_values_array.each do |choice| %>
      <input type="image" src="images/<%="#{choice}"%>.png" alt="<%=choice%>"
        width="150" height="150" name="choice" value="<%="#{choice}"%>"/>
    <% end %>
  </form>
